* {
    box-sizing: border-box;
    padding:0px;
    margin: 0px;
  }
  .row::after {
    content: "";
    clear: both;
    display: block;
  }
  [class*="col-"] {
    float: left;
  }
  @media only screen and (max-width: 500px) {
      /* For mobile phones: */
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}

    .logo{
        font-size: 20px !important;
        margin-left: 15px !important;
      }
  
      hr{
        display: none;
      }
      .menu{
        display: none;
      }
      #icon1{
        margin-left: 0px;
        width: 16px !important;
        height: 16px !important;
      }
      #icon2{
        margin-right: 700px !important;
        width: 18px !important;
        height: 19px !important;
      }
      .home{
        display: none;
      }
      h1{
        display: none;
      }
      .img{
        margin-left: 15px;
      }
      .xoa{
        margin-left: 0px !important;
      }
      .total{
        display: none;
      }
      .checkout{
        margin-right: 300px;
      }
      h2{
        margin-left: 15px;
      }
      .img-main-1{
        width: 150px !important;
        height: 178px !important;
      }
      .main-1{
        width: 205px !important;
        margin-left: 15px;
        height: 300px !important;
      }
      .footer{
        margin-left: 15px;
      }
      .col-2{
        display: none;
      }
      .from{
        display: none;  
      }
      footer.col-12{
        margin-top: 40px !important;
      }
      .left{
        display: none;
      }
      .right{
        display: none;
      }
    }
  
    
    @media only screen and (max-width: 992px) {
      /* For table phones: */
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}

    .logo{
        margin-left: 40px;
      }
      .buy {
        display: none;
      }
      .home{
        display: none;
      }
      #icon2{
        margin-right: 230px;
      }
      h1{ 
        margin-right: 300px;
      }
      .total{
        display: none;
      }
      .xoa{
        margin-left: 0px !important;
        margin-right: 20px;
      }
      .total-hr{
        display: none;
      }
      .col-7{
        width: 475px !important;
      }
      .checkout{
        width: 450px !important;
        height: 480px !important;
      }
      .img{
        margin-left: 30px;
        height: 220px !important;
      }
      h2{
        margin-left: 30px;
      }
      .main-1{
        margin-left: 10px;
        margin-right: 0px !important;
      }
      #main{
        display: none;
      }
      .footer{
        margin-left: 30px;
      }
      .from{
        display: none;
      }
      .left{
        display: none;
      }
      .right{
        display: none;
      }
      
    }
  
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}



    .swapper{
    position: relative;
    max-width: 1440px;
    background: #FFFFFF;
    font-family: 'Roboto';
    margin: 0 auto;
  }
  .container{
    width: 1296px;
    margin: 0 auto;
  }
  .logo{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 23px;
  }
  .logo img{
    float: right;
    margin-left: 38px;
  }
  #icon1{
    width: 27px;
    height: 27px;
    margin-top: 1px;
  }
  #icon2{
    width: 22.17px;
    height: 29.57px;
  }
  #icon3{
    width: 24.81px;
    height: 28.63px;
  }
  #icon4{
    width: 29.41px;
    height: 27.58px;
    margin-top: 1px;
  }
  header.col-12{
    padding: 34px 0px 0px 0px;
  }
 
  hr{
    border: 1px solid #000000;
  }
  ul.menu > li {
    position:relative;
    display:inline-block;
    padding: 0px;
  }
  ul.menu > li >a{
    color: #333;
    text-decoration:none;
    line-height: 90px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-left: 69px;
  }
    .home{
        font-weight: 400;
        font-size: 18px;
        text-transform: lowercase;
        margin: 0 auto;
        text-align: center;
        margin-top: 45px;
    }



    h1{
        margin-top: 60px;
        text-align: center;
    }
    .main{
        display: flex;
        padding: 0px;
        margin-top: 60px;
    }
    input {
        width: 70%;
        height: 54px;
        font-size: 20px;
        padding-left: 20px;
        margin-bottom: 9px;
    }
    .red{
        color: red;
    }
    h2 {
        margin-left: 20%;
        margin-bottom: 9px;
    }
    p{
        font-size: 18px;
        margin-bottom: 9px;
    }
    #hoadon{
      display: none;
    }
    .total{
        font-size: 18px;
        font-weight: 600;
        text-align: right;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-right: 61px;
    }
    .total-hr{
        width: 698px;
    }

    .checkout{
        width: 510px;
        height: 507px;
        background: rgba(236, 235, 233, 0.7);
        margin-top: 60px;
    }
    .checkout-add{
        width: 416px;
        margin: 0 auto;
        margin-top: 32px;
    }
    .dis{
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 19px;
    }
    .dis >label{
        float: right;
    }
    .add{
        width: 100%;
        height: 54px;
        background: #FFFFFF;
        border: 1px solid #323334;
        margin-bottom: 29px;
    }
    .add-1{
        width: 66px;
        height: 54px;
        float: right;
        text-align: center;
        background: #323334;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 14px;
    }
    h3{
        font-weight: 300;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 12px;
    }
    .add-2{
        height: 54px;
        width: 100%;
        background-color: #FFFFFF;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 28px;
    }
    .total-1{
        font-weight: 600;
        font-size: 14px;
    }
    .total-1 label{
        float: right;
    }
    .hr{
        margin-top: 12px;
        margin-bottom: 8px;
    }
    .add-3{
        width: 100%;
        height: 54px;
        margin-top: 30px;
        color: #FFFFFF;
        background-color: #000000;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
    }

    .main-1 {
        margin-top: 27px;
        margin-right: 24px;
        padding: 0px;
        width: 306px;
        height: 477px;
        margin-bottom: 45px;
    }
    .img-main-1{
        width: 100%;
        height: 365px;
    }
    .name-1{
        font-weight: 700;
        font-size: 18px;
        margin-top: 22px;
    }
    .color-main-1{
        margin-top: 12px;
    }
    .money-1{
        font-size: 24px;
        font-weight: 700;
        margin-top: 12px;
    }
    #main{
        margin-right: 0px;
    }
  
    .like{
        padding: 0px;
        margin-top: 50px;
    }
    .left{
        position: relative;
        top: 1200px;
        right: 1370px;
    }
    .right{
        position: relative;
        top: 1200px;
        left: 15px;
    }











    footer.col-12{
        margin-top: 115px;
        height: 447px;
        background: #323334;
       }
      
       .khungchu9{
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        color: #FFFFFF;
        margin-top: 50px;
       }
      
       .khungchu10{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.5);
        margin-top: 41px;
        margin-bottom: 41px;
        width: 312px;
       }
      
       .khungchu11{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: #FFFFFF;
        margin-bottom: 8px;
       }
      
       .icon img{
        height: 19.87px;
        margin-top: 55px;
       }
       #icon5{
        width: 9.62px;
        height: 19.87px;
        margin-right: 72.61px;
       }
       #icon6{
        width: 19.93px;
        height: 19.87px;
      margin-right: 72.33px;
       }
       #icon7{
        width: 19.93px;
      height: 19.87px;
      margin-right: 72.33px;
       }
      
       .shopping{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        margin-top: 50px;
        color: #FFFFFF;
        margin-bottom: 34px;
       }
      
       .shopping1 p{
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        color: #FFFFFF;
        margin-bottom: 16px;
       }
       .ngay{
        color: rgba(255, 255, 255, 0.5);
        font-style: normal;
        font-weight: 400;
        font-size: 24px;  
       }
       .ngay label{
        font-weight: 400;
        font-size: 14px;
       }
       .blog{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        margin-top: 50px;
        color: #FFFFFF;
        margin-bottom: 25px;
       }
       .thang{
        font-weight: 300;
        font-size: 16px;
        color: #FFFFFF;
        width: 312px;
        margin-top: 10px;
       }
       .conments{
        color: #FFFFFF;
        font-weight: 400;
        font-size: 14px;
        opacity: 0.5;
        margin-top: 9px;
       }
       #hr{
        border: 1px solid rgba(255, 255, 255, 0.5);
        margin-top: 33px;
        margin-bottom: 34px;
       }